#header {
    background-color: #4099ff;
}

#name-and-slogan {
    float: left;
}

#block-commons-utility-links-commons-utility-links {
    display: inline-block;
}

#block-commons-utility-links-commons-utility-links > ul > li {
    display: inline;
    padding: 0 20px;
}
