
#logo > img {
    float: left;
    height: 63px;
}

//TOP HEADER
#block-commons-utility-links-commons-utility-links {
    display: inline-block;
    ul {
        position: absolute;
        padding: 10px 0;
        top: 0;
        left: 0;
        text-align: right;
        background: rgba(0, 0, 0, 0.71);
        width: 100%;

        a {
            color: #fff;
            font-weight: 100;
        }

        li.last {
            padding-right: 13.4%;
        }
    }
}


//HEADER
#header {
    width: 1026px;
    height: 70px;
    max-height: auto;
    margin-top: 41px;
    background-color: #fff;
    padding: 3px 12%;

    a {
        color: #08c;
        font-weight: 700;
        text-decoration: none;
    }

    #name-and-slogan {
        display: inline-flex;
        float: left;

        #site-name {
            display: inline-block;
            margin: 5px 0;
            a {
                span {
                    color: #000;
                    font-weight: 100;
                }
            }
        }
    }
}

#block-commons-utility-links-commons-utility-links {
    display: inline-block;
}

#block-commons-utility-links-commons-utility-links > ul > li {
    display: inline;
    padding: 0 16px;
}

#block-system-main-menu {
    float: left;
    display: inline-block;
    padding: 18px;
    margin-left: 65px;
}


#block-system-main-menu {
    ul {
        margin: 0;

        li {
          //  display: inline;
          //  padding: 0 20px;
          //  float: left;
        }
    }
}

#block-search-form {
    float: right;
    display: inline-block;
    padding: 1em;
}

#search-block-form {
    div {
        div {
           // position: relative;

            div.form-item.form-type-textfield.form-item-search-block-form {
                position: relative;
            }

            div.form-item.form-type-select.form-item-custom-search-types {
                position: absolute;
                z-index: 9;
            }

        }
    }
}

#search-block-form > div > div {
    position: relative;
}

//#edit-custom-search-types {
  //  border-radius: 10px 0 0 10px;
//}

#edit-search-block-form--2 {
    width: 273px;
  //  border-radius: 10px;

    border: 1px solid gray;
    padding-left: 108px;
    height: 24px;
    color: gray;
    font-weight: 100;
}

//#edit-actions {
  //  position: absolute;
  //  right: 0;
  //  top: 0;
//}

//#edit-submit, #edit-submit--2 {
  //  position: absolute;
  //  z-index: 10;
  //  right: 0;
  //  top: 0;
  //  border-radius: 0 10px 10px 0;
  //  border: 1px solid gray;
//}

//#search-block-form > div > div > div.form-item.form-type-textfield.form-item-search-block-form {
 //   position: relative;
//}

